@require('_defines/const')

// 通用主题色
$color-theme = #1BCDFC
$color-link = #2196f3
$color-button = #1BCDFC
$color-hover = #ff5722
$color-highlight = #ff5722
$color-inner = #fff
$color-cat = #FF7844
$color-cat-hover = darken($color-cat, 20)

// 浅色
$light-site-bg = convert(hexo-config('style.theme.light'))
$light-block = #f2f2f2
$light-title = #000
$light-text = #333
$light-code = #111
$light-card = white

// 深色
$dark-site-bg = convert(hexo-config('style.theme.dark'))
$dark-block = darken(saturate($dark-site-bg, 40%), 2)
$dark-title = #fff
$dark-text = #eee
$dark-code = #ff7043
$dark-card = lighten(saturate($dark-site-bg, 50%), 10)

// 移动端深色背景（OLED调成纯黑可以省电）
// $dark-site-bg-mobile = black
$dark-site-bg-mobile = convert(hexo-config('style.theme.dark'))


// @font-face
//   font-family: 'Dosis'
//   src: url('https://cdn.jsdelivr.net/gh/volantis-x/cdn-fonts@20.5.30/Dosis/Dosis-Medium.ttf')
//   font-weight: normal
//   font-style: normal

$ff-body = system-ui, "Microsoft Yahei", "Segoe UI", -apple-system, Roboto, Ubuntu, "Helvetica Neue", Arial, "WenQuanYi Micro Hei", sans-serif
$ff-code = Menlo, Monaco, Consolas, system-ui, "Courier New", monospace, sans-serif

$ff-logo = $ff-body

// font size
$fs-root = 16px
$fs-15 = .9375rem
$fs-14 = .875rem
$fs-13 = .8125rem
$fs-12 = .75rem

$fs-h1   = 1.75rem   // 32px
$fs-h2   = 1.5rem // 24px
$fs-h3   = 1.375rem  // 22px
$fs-h4   = 1.125rem  // 18px
$fs-h5   = $fs-15
$fs-h6   = $fs-12
$fs-p    = $fs-15
$fs-code = $fs-13

$border-card = 12px
$border-block = 6px
$border-image = 6px

// 可以动态变化的属性
:root
  --width-left: 256px
  --width-main: 820px
  --gap-l: 16px
  --gap-p: .75rem // gap for paragraph
  // desktop 2k or larger
  @media screen and (min-width: $device-2k)
    --gap-l: 32px
    --width-left: 320px
    --width-main: 780px
  // desktop 4k or larger
  @media screen and (min-width: $device-4k)
    --width-main: 860px
    --gap-l: 64px

  @media screen and (min-width: 1280px) {
    .l_main {
      margin-left: calc(2 * var(--gap-l));
      margin-right: calc(2 * var(--gap-l) + 0.6 * var(--width-left));
    }
  }

  // post list
  .post-list .post-card:hover {
    box-shadow: 0 1px 4px 0px rgba(0,0,0,0.25), 0 4px 16px 0px rgba(0,0,0,0.25);
  }

  .post-list #archive a.post:hover {
    color: var(--text-p0);
  }

  .post-list #archive:hover .archive-header:after {
    background: var(--text-p1);
  }

  .post-list #tags a.tag:hover:before {
    color: var(--text-p1);
  }

  // post page
  .bread-nav div#breadcrumb:not([style]) a {
      color: var(--text-p1);
      text-decoration: none;
  }

  .bread-nav div#breadcrumb a.cap:hover {
      color: var(--text-p0);
      text-decoration: underline;
  }

  article.md p >a:not([class]),
  article.md li:not([class]) >a:not([class]) {
    text-decoration: underline;
    color: var(--text-p1);
  }

  article.md p >a:not([class]):hover,
  article.md li:not([class]) >a:not([class]):hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--text-p0);
  }

  article.md.content h2:hover a.headerlink:before,
  article.md.content h3:hover a.headerlink:before,
  article.md.content h4:hover a.headerlink:before,
  article.md.content h5:hover a.headerlink:before,
  article.md.content h6:hover a.headerlink:before {
    color: var(--text-p1);
  }

  article.md.content a.headerlink:hover{
    color: var(--text-p1);
    font-weight: bold;
  }

  .cap.theme {
    color: var(--text-p1);
  }

  .related-wrap#read-next .body >a:hover {
    color: var(--text-p0) !important;
    background: var(--card);
  }

  .related-wrap#read-next .body >a:first-child {
    font-size: 1rem;
  }

  .related-wrap#read-next .body >a {
    font-size: 1rem;
    color: var(--text-p1);
  }

  // color of sidebar
  .l_left .widgets .widget-wrap#recent .widget-body a:hover {
    color: var(--text-p1)
  }

  .l_left .widgets .widget-wrap .widget-header .cap-action:hover .icon {
    fill: var(--text-p1);
  }

  // color of page footer
  .page-footer a:hover {
    color: var(--text-p1);
  }

  // color of nav
  nav.cap a:after {
    background: var(--text-p1);
  }

  #toc a.toc-link:before {
    background: var(--text-p0);
  }

  #toc a.toc-link.active {
    color: var(--text-p0) !important;
  }

  // color of category page
  .post-list #cats a.cat:hover .badge {
    color: var(--text-p1);
  }

  // color on mobile
  .l_body.mobile.sidebar .sidebar-toggle.mobile {
    background: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    color: var(--text-p0);
  }

  @supports ((-webkit-backdrop-filter: blur(var(--blur-px))) or (backdrop-filter: blur(var(--blur-px)))) {
    .blur {
      background: #575757 !important;
      backdrop-filter: saturate(200%) blur(var(--blur-px));
      -webkit-backdrop-filter: saturate(200%) blur(var(--blur-px));
    }
  }

// shadow
$boxshadow-card = 0 1px 2px 0px rgba(0, 0, 0, 0.1)
$boxshadow-float = 0 4px 8px 0px rgba(0, 0, 0, 0.1)
$boxshadow-card-float = 0 2px 4px 0px rgba(0, 0, 0, 0.1), 0 4px 8px 0px rgba(0, 0, 0, 0.1), 0 8px 16px 0px rgba(0, 0, 0, 0.1)
$boxshadow-button = 0 0 2px 0px rgba(0, 0, 0, 0.04), 0 0 8px 0px rgba(0, 0, 0, 0.04)
$boxshadow-block = 0 1px 4px 0px rgba(0, 0, 0, 0.02), 0 2px 8px 0px rgba(0, 0, 0, 0.02)
